/* reset e font */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

main {
  
    max: width 80%;
    margin: auto;

}

/* header */

header{
    height: 100px;
    background-color: white;
    margin-bottom: 20px;
}

.logo-image {
  vertical-align: middle;
  line-height: 100px;

}

.logo-text {
    display: inline-block;
    line-height: 100px;
    vertical-align: middle;  
    font-size: 3rem; 
}

/* main */

main {
    height: 700px;
    width: 80% ;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
    padding-bottom: 20px;
}

/* buttons */

.buttons{
    border-bottom: 2px solid  #c3cdd2;
    padding: 10px 50px;
}



.add-task{
    background-color: rgb(41, 108, 232);
    border-color: rgb(41, 108, 232);
    color: white;
    padding:5px;
    border-radius: 5px;
}

.add-section{
    background-color: white;
    border-color: darkgrey;
    color: lightgrey;
    padding: 5px;
    border-radius: 5px;
}


.title::before{
    content: '\25BE';
    margin-right: 10px;
    width: 15px;
    height: 5px;
}

/* sezione tasks */

.task{
    padding: 30px 40px;
    color: rgb(42, 42, 42);
    }

 .list{
        font-size: 16px;
        margin-bottom: 35px;
        list-style-type: none;
    }

    .check::before{
        display: inline-block;
        content: '\2713';
        color: green;
        width: 20px;
        height: 20px;
        padding: 2px;
        border:1px solid rgb(25, 182, 25);
    
        border-radius: 50%;
        margin-right:10px;
        text-align: center;
    }


    .cross::before{
        display: inline-block;
        content: '\2717';
        color: red;
        width: 20px;
        height: 20px;
        padding: 2px;
        border: 1px solid red;
        border-radius: 50%;
        margin-right:10px;
        text-align: center;
    }

  
    .tag{
        border-radius: 12px;
        color: white;
        font-size: 12px;
        padding: 7px 10px;
        margin: 5px;
    }
    
    .editorial{
        background-color: #45ABEA;
   }
   
   .goals{
       background-color: #9C72E4;
   }
   
   .recruiting{
       background-color:#65C1AA;
   }
   .mobile{
       background-color: #F29E33;
   }
   .website{
       background-color:#de5fa3;
   }
   .sales{
       background-color: #B0C926;
   }
   




    


  






