/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    color: lightgray;
}

/* header */

header{
    height: 100px;
    background-color: white;
}

.logo-image {
  vertical-align: middle;
  line-height: 100px;

}

.logo-text {
    display: inline-block;
    line-height: 100px;
    vertical-align: middle;  
    font-size: 3rem; 
}


